<section class="xui-dashboard">
    <div class="navigator xui-bg-white xui-px-1 disable-scrollbars">
        <div class="brand xui-pt-2">
            <div class="maxified xui-d-flex xui-flex-ai-center">
                <a class='xui-text-inherit xui-text-dc-none' href="/">
                    <div class='xui-pl-half'>
                        <span class='xui-font-sz-110 xui-font-w-bold'>OnlineBooking</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="links xui-pt-2">
            <a href='./views/admin/' class="xui-text-inherit link-box ob-link-box xui-font-sz-90 xui-px-2 xui-opacity-6">
                <span>Overview</span>
            </a>
            <a href='views/admin/categories' class="ob-link-box xui-text-inherit link-box xui-font-sz-90 xui-opacity-6 xui-px-2">
                <span>Categories</span>
            </a>
            <a href='views/admin/commodities' class="xui-text-inherit link-box xui-font-sz-90 xui-opacity-6 xui-px-2">
                <span>Commodities</span>
            </a>
            <a href='views/admin/types' class=" xui-text-inherit link-box xui-font-sz-90 xui-opacity-6 xui-px-2">
                <span>Types</span>
            </a> 
            <a href='views/admin/users' class="xui-text-inherit link-box xui-font-sz-90 xui-opacity-6 xui-px-2">
                <span>Users</span>
            </a> 
            <a href='views/admin/bookings' class="active xui-text-inherit link-box xui-font-sz-90 xui-opacity-6 xui-px-2">
                <span>Bookings</span>
            </a> 
            <div class="bottom-fixed xui-mt--5">
                <a href='/' class="xui-text-inherit link-box xui-font-sz-90 xui-opacity-6 xui-px-2">
                    <span>Logout</span>
                </a>
            </div>
        </div>
    </div>
    <!-- Screen -->
    <div class="screen" xui-aside="true" xui-navbar="false" style="overflow-y: auto;">
        <section class="main-content xui-px-1-half xui-lg-px-3">
            <nav menu="2" class="xui-navbar xui-d-flex xui-flex-ai-center xui-flex-jc-space-between xui-bg-white xui-px-1-half xui-lg-px-3">
                <div>
                    <h1 class='xui-font-sz-150 xui-lg-font-sz-200 xui-font-w-bold'>{{pageTitle}}</h1>
                </div>
                <div class="xui-d-inline-flex xui-flex-ai-center">
                    <div class="xui-w-45 xui-h-45 xui-flex-ai-center xui-flex-jc-center xui-mr-1 xui-bdr-rad-circle xui-bg-light xui-d-none xui-md-d-inline-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" class="xui-opacity-6" viewBox="0 0 24 24" width="16" height="16"><path fill="currentColor" d="M16.0503 12.0498L21 16.9996L16.0503 21.9493L14.636 20.5351L17.172 17.9988L4 17.9996V15.9996L17.172 15.9988L14.636 13.464L16.0503 12.0498ZM7.94975 2.0498L9.36396 3.46402L6.828 5.9988L20 5.99955V7.99955L6.828 7.9988L9.36396 10.5351L7.94975 11.9493L3 6.99955L7.94975 2.0498Z"></path></svg>
                    </div>
                    <div class="xui-w-45 xui-h-45 xui-flex-ai-center xui-flex-jc-center xui-mr-1 xui-bdr-rad-circle xui-bg-light xui-d-none xui-md-d-inline-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" class="xui-opacity-6" viewBox="0 0 24 24" width="16" height="16"><path fill="currentColor" d="M5 18H19V11.0314C19 7.14806 15.866 4 12 4C8.13401 4 5 7.14806 5 11.0314V18ZM12 2C16.9706 2 21 6.04348 21 11.0314V20H3V11.0314C3 6.04348 7.02944 2 12 2ZM9.5 21H14.5C14.5 22.3807 13.3807 23.5 12 23.5C10.6193 23.5 9.5 22.3807 9.5 21Z"></path></svg>
                    </div>
                    <div class="xui-w-50 xui-h-50 xui-bdr-rad-circle xui-bg-blue xui-bg-sz-cover xui-bg-pos-center" style="background-image: url('https://plus.unsplash.com/premium_photo-1672872328365-abb550db7237?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YWZyaWNhbiUyMHBvcnRyYWl0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');"></div>
                    <div class="menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </nav>
            <section class="xui-mt-1 xui-pos-relative xui-px-3 xui-overflow-y-auto" style="height: 100%; min-height: 100vh;">
                <div class="xui-d-grid xui-grid-col-1 xui-lg-grid-col-3 xui-grid-gap-1">
                    <div class="xui-bg-white xui-box-shadow-3 xui-bdr-rad-1" ng-repeat="category in getAllCategories track by $index">
                        <div class="xui-bg-sz-cover xui-bg-pos-center xui-w-fluid-100 xui-h-200 xui-bdr-rad-half"  xui-bg-img="{{category.imageURL}}">
                            <div class="xui-py-1 xui-px-half xui-w-fluid-100 xui-h-fluid-100 xui-bg-black xui-opacity-6 xui-d-flex xui-flex-jc-center xui-flex-ai-center">
                                <h2 class="xui-d-inline-block xui-font-sz-120 xui-font-w-bold xui-text-white">{{category.name}}</h2>
                            </div>
                        </div>
                        <div class="xui-p-1 xui-d-grid xui-grid-col-2 xui-grid-gap-1">
                            <button ng-click="deleteCategories(category.uid)" style="background: #000000;" class="xui-btn-block xui-text-white">Delete</button>
                            <button style="background: #000000;" ng-click="showCategories(category)" xui-modal-open="editCategoriesModal" class="xui-btn-block xui-text-white">Edit</button>
                        </div>
                    </div>
                </div>
            
                <div xui-modal-open="addCategoriesModal" class=" xui-pos-fixed xui-w-50 xui-h-50 xui-bdr-rad-circle xui-cursor-pointer xui-d-flex xui-flex-jc-center xui-flex-ai-center" style="background: #000000; bottom: 150px; right: 30px;">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 4.16666V15.8333" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4.16663 10H15.8333" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                </div>
            </section>
            
            <section class="xui-modal" xui-modal="addCategoriesModal">
                <div class="xui-modal-content xui-bdr-rad-half" style="padding: 0;">
                <div class="xui-py-1 xui-pl-half" style="background: #000000;">
                    <h2 class="xui-font-w-normal xui-font-sz-100 xui-text-white">Add New Categories</h2>
                </div>
                <form class="xui-p-2" name="addCategoriesForm" novalidate>
                    <div class="xui-mb-1">
                        <label class="xui-opacity-5 xui-form-label xui-font-w-bold">Category Name</label>
                        <input type="text" name="categoryname" ng-model="cat.name" style="background: var(--primary-light-ii); padding: 1.2rem;" class="xui-bdr-rad-half xui-form-input xui-font-w-bold" required />
                        <div class="xui-d-inline-flex xui-flex-ai-center xui-text-danger xui-mt-half" ng-if="addCategoriesForm.$submitted && addCategoriesForm.rolename.$error.required">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="14" height="14"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M12.866 3l9.526 16.5a1 1 0 0 1-.866 1.5H2.474a1 1 0 0 1-.866-1.5L11.134 3a1 1 0 0 1 1.732 0zm-8.66 16h15.588L12 5.5 4.206 19zM11 16h2v2h-2v-2zm0-7h2v5h-2V9z"/></svg>
                            <span class="xui-text-danger xui-d-block xui-ml-half xui-font-sz-75">This field is empty</span>
                        </div>
                    </div>
              
                    <div class="xui-d-grid xui-grid-col-2 xui-grid-gap-2">
                      <button class="xui-btn xui-bdr-rad-half xui-text-white" ng-click="addCategoriesForm.$valid && addCategories()" style="background: #C05640;">
                          <i ng-if="isCategoryDisabled" class="gg-spinner-alt xui-mx-auto xui-d-inline-block"></i>
                          <span ng-if="!isCategoryDisabled">Click to Add</span>
                      </button>
                      <!-- <button type="submit" ng-click="addRoles()">add</button> -->
                      <button class="xui-btn xui-text-black xui-mr-1 xui-bdr-rad-half" xui-modal-close="addCategoriesModal" style="border: 1px solid lightgray;">Cancel</button>
                    </div>
                </form>
                    
                </div>
                
            </section>

            <section class="xui-modal" xui-modal="editCategoriesModal">
                <div class="xui-modal-content xui-bdr-rad-half" style="padding: 0;">
                <div class="xui-py-1 xui-pl-half" style="background: #000000;">
                    <h2 class="xui-font-w-normal xui-font-sz-100 xui-text-white">Edit this category</h2>
                </div>
                <form class="xui-p-2" name="editCategoriesForm" novalidate>
                    <div class="xui-mb-1">
                        <label class="xui-opacity-5 xui-form-label xui-font-w-bold">Category Name</label>
                        <input type="text" name="categoryname" ng-model="catName" style="background: var(--primary-light-ii); padding: 1.2rem;" class="xui-bdr-rad-half xui-form-input xui-font-w-bold"/>
                    </div>
              
                    <div class="xui-d-grid xui-grid-col-2 xui-grid-gap-2">
                      <button class="xui-btn xui-bdr-rad-half xui-text-white" ng-click="editCategories()" style="background: #C05640;">
                          <i ng-if="isCategoryDisabled" class="gg-spinner-alt xui-mx-auto xui-d-inline-block"></i>
                          <span ng-if="!isCategoryDisabled">Click to Update</span>
                      </button>
                      <!-- <button type="submit" ng-click="addRoles()">add</button> -->
                      <button class="xui-btn xui-text-black xui-mr-1 xui-bdr-rad-half" xui-modal-close="addCategoriesModal" style="border: 1px solid lightgray;">Cancel</button>
                    </div>
                </form>
                    
                </div>
                
            </section>

            <!-- <button class="xui-btn xui-btn-blue xui-open-sidebar xui-mt-3">Click me</button> -->
        </section>
        
    </div>
</section>

<section class="xui-alert xui-alert-success" xui-placed="top-right" xui-custom="successBox" centered="true" xui-anime-duration=".25" xui-anime-reverse="5">
    <div class="xui-alert-icon">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 6C12.5523 6 13 6.44772 13 7V13C13 13.5523 12.5523 14 12 14C11.4477 14 11 13.5523 11 13V7C11 6.44772 11.4477 6 12 6Z" fill="currentColor" /><path d="M12 16C11.4477 16 11 16.4477 11 17C11 17.5523 11.4477 18 12 18C12.5523 18 13 17.5523 13 17C13 16.4477 12.5523 16 12 16Z" fill="currentColor" /><path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2ZM4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12Z" fill="currentColor" /></svg>
    </div>
    <div class="xui-alert-content">
      <span>{{success}}</span>
    </div>
    <div class="xui-alert-close">
      <svg width="15" height="15" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.2253 4.81108C5.83477 4.42056 5.20161 4.42056 4.81108 4.81108C4.42056 5.20161 4.42056 5.83477 4.81108 6.2253L10.5858 12L4.81114 17.7747C4.42062 18.1652 4.42062 18.7984 4.81114 19.1889C5.20167 19.5794 5.83483 19.5794 6.22535 19.1889L12 13.4142L17.7747 19.1889C18.1652 19.5794 18.7984 19.5794 19.1889 19.1889C19.5794 18.7984 19.5794 18.1652 19.1889 17.7747L13.4142 12L19.189 6.2253C19.5795 5.83477 19.5795 5.20161 19.189 4.81108C18.7985 4.42056 18.1653 4.42056 17.7748 4.81108L12 10.5858L6.2253 4.81108Z" fill="currentColor" /></svg>
    </div>
</section>
  
<section class="xui-alert xui-alert-danger" xui-placed="bottom-right" xui-custom="errorBox" centered="true" xui-anime-duration=".25" xui-anime-reverse="3">
    <div class="xui-alert-icon">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 6C12.5523 6 13 6.44772 13 7V13C13 13.5523 12.5523 14 12 14C11.4477 14 11 13.5523 11 13V7C11 6.44772 11.4477 6 12 6Z" fill="currentColor" /><path d="M12 16C11.4477 16 11 16.4477 11 17C11 17.5523 11.4477 18 12 18C12.5523 18 13 17.5523 13 17C13 16.4477 12.5523 16 12 16Z" fill="currentColor" /><path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2ZM4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12Z" fill="currentColor" /></svg>
    </div>
    <div class="xui-alert-content">
        <span>{{failure}}</span>
    </div>
    <div class="xui-alert-close">
        <svg width="15" height="15" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.2253 4.81108C5.83477 4.42056 5.20161 4.42056 4.81108 4.81108C4.42056 5.20161 4.42056 5.83477 4.81108 6.2253L10.5858 12L4.81114 17.7747C4.42062 18.1652 4.42062 18.7984 4.81114 19.1889C5.20167 19.5794 5.83483 19.5794 6.22535 19.1889L12 13.4142L17.7747 19.1889C18.1652 19.5794 18.7984 19.5794 19.1889 19.1889C19.5794 18.7984 19.5794 18.1652 19.1889 17.7747L13.4142 12L19.189 6.2253C19.5795 5.83477 19.5795 5.20161 19.189 4.81108C18.7985 4.42056 18.1653 4.42056 17.7748 4.81108L12 10.5858L6.2253 4.81108Z" fill="currentColor" /></svg>
    </div>
</section>
