<section class="xui-dashboard">
    <div class="navigator xui-bg-white xui-px-1 disable-scrollbars">
        <div class="brand xui-pt-2">
            <div class="maxified xui-d-flex xui-flex-ai-center">
                <a class='xui-text-inherit xui-text-dc-none' href="/">
                    <div class='xui-pl-half'>
                        <span class='xui-font-sz-110 xui-font-w-bold'>OnlineBooking</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="links xui-pt-2">
            <a href='./views/admin/' class="active xui-text-inherit link-box ob-link-box xui-font-sz-90 xui-px-2 xui-bdr-rad-5">
                <span>Overview</span>
            </a>
            <a href='views/admin/categories' class="ob-link-box xui-text-inherit link-box xui-font-sz-90 xui-opacity-6 xui-px-2">
                <span>Categories</span>
            </a>
            <a href='views/admin/commodities' class="xui-text-inherit link-box xui-font-sz-90 xui-opacity-6 xui-px-2">
                <span>Commodities</span>
            </a>
            <a href='views/admin/types' class=" xui-text-inherit link-box xui-font-sz-90 xui-opacity-6 xui-px-2">
                <span>Types</span>
            </a> 
            <a href='views/admin/users' class="xui-text-inherit link-box xui-font-sz-90 xui-opacity-6 xui-px-2">
                <span>Users</span>
            </a> 
            <div class="bottom-fixed xui-mt--5">
                <a href='/' class="xui-text-inherit link-box xui-font-sz-90 xui-opacity-6 xui-px-2">
                    <span>Logout</span>
                </a>
            </div>
        </div>
    </div>
    <!-- Screen -->
    <div class="screen" xui-aside="true" xui-navbar="false">
        <section class="main-content xui-px-1-half xui-lg-px-3">
            <nav menu="2" class="xui-navbar xui-d-flex xui-flex-ai-center xui-flex-jc-space-between xui-bg-white xui-px-1-half xui-lg-px-3">
                <div>
                    <h1 class='xui-font-sz-150 xui-lg-font-sz-200 xui-font-w-bold'>Overview</h1>
                </div>
                <div class="xui-d-inline-flex xui-flex-ai-center">
                    <div class="xui-w-45 xui-h-45 xui-flex-ai-center xui-flex-jc-center xui-mr-1 xui-bdr-rad-circle xui-bg-light xui-d-none xui-md-d-inline-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" class="xui-opacity-6" viewBox="0 0 24 24" width="16" height="16"><path fill="currentColor" d="M16.0503 12.0498L21 16.9996L16.0503 21.9493L14.636 20.5351L17.172 17.9988L4 17.9996V15.9996L17.172 15.9988L14.636 13.464L16.0503 12.0498ZM7.94975 2.0498L9.36396 3.46402L6.828 5.9988L20 5.99955V7.99955L6.828 7.9988L9.36396 10.5351L7.94975 11.9493L3 6.99955L7.94975 2.0498Z"></path></svg>
                    </div>
                    <div class="xui-w-45 xui-h-45 xui-flex-ai-center xui-flex-jc-center xui-mr-1 xui-bdr-rad-circle xui-bg-light xui-d-none xui-md-d-inline-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" class="xui-opacity-6" viewBox="0 0 24 24" width="16" height="16"><path fill="currentColor" d="M5 18H19V11.0314C19 7.14806 15.866 4 12 4C8.13401 4 5 7.14806 5 11.0314V18ZM12 2C16.9706 2 21 6.04348 21 11.0314V20H3V11.0314C3 6.04348 7.02944 2 12 2ZM9.5 21H14.5C14.5 22.3807 13.3807 23.5 12 23.5C10.6193 23.5 9.5 22.3807 9.5 21Z"></path></svg>
                    </div>
                    <div class="xui-w-50 xui-h-50 xui-bdr-rad-circle xui-bg-blue xui-bg-sz-cover xui-bg-pos-center" style="background-image: url('https://plus.unsplash.com/premium_photo-1672872328365-abb550db7237?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YWZyaWNhbiUyMHBvcnRyYWl0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');"></div>
                    <div class="menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </nav>
            <section class="xui-mt-1">
                <div class="xui-d-grid xui-grid-col-1 xui-lg-grid-col-2 xui-grid-gap-1">
                    <div class="xui-bg-white xui-box-shadow-3 xui-bdr-rad-1 xui-p-half">
                        <div class="xui-bg-sz-cover xui-bg-pos-center xui-w-fluid-100 xui-h-200 xui-bdr-rad-half" style="background-image: url('https://images.unsplash.com/photo-1623701173792-89aeb410c1a0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8aHB8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');"></div>
                        <div class="xui-py-1 xui-px-half">
                            <span class="xui-d-inline-block xui-font-sz-80 xui-font-w-bold xui-opacity-5">Housing</span>
                            <h2 class="xui-font-sz-100 xui-lg-font-sz-120 xui-w-fluid-80">Harvard Pickard Enterprise</h2>
                            <h4 class="xui-mt-1-half xui-opacity-8 xui-font-sz-90 xui-font-w-normal">$100 per hour</h4>
                        </div>
                    </div>
                    <div class="xui-bg-white xui-box-shadow-3 xui-bdr-rad-1 xui-p-half">
                        <div class="xui-bg-sz-cover xui-bg-pos-center xui-w-fluid-100 xui-h-200 xui-bdr-rad-half" style="background-image: url('https://images.unsplash.com/photo-1627667928346-5fc86d099a5c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGhwfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');"></div>
                        <div class="xui-py-1 xui-px-half">
                            <span class="xui-d-inline-block xui-font-sz-80 xui-font-w-bold xui-opacity-5">Car Rentals</span>
                            <h2 class="xui-font-sz-100 xui-lg-font-sz-120 xui-w-fluid-80">Red Ferrari</h2>
                            <h4 class="xui-mt-1-half xui-opacity-8 xui-font-sz-90 xui-font-w-normal">$230 per hour</h4>
                        </div>
                    </div>
                </div>
            </section>
            <section class="xui-mt-1 xui-row xui-flex-ai-flex-end xui-box-shadow-3 xui-p-1-half">
                <div class="xui-col-12 xui-lg-col-8">
                    <h3>Ready for booking</h3>
                    <p class="xui-opacity-6 xui-font-sz-95 xui-mt-1 xui-line-height-1-half">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum neque facere mollitia expedita quam quod eaque.</p>
                </div>
                <div class="xui-col-12 xui-lg-col-4 xui-lg-text-right xui-lg-pl-2 xui-mt-2 xui-lg-mt-none">
                    <a class="xui-btn xui-btn-blue xui-bdr-rad-5" href="#">Book Now</a>
                </div>
            </section>

            <!-- <button class="xui-btn xui-btn-blue xui-open-sidebar xui-mt-3">Click me</button> -->
        </section>
        
    </div>
</section>
