<custom-navbar></custom-navbar>
<section class="xui-container xui-py-3">
    <div class="xui-row">
        <div class="xui-col-12 xui-lg-col-6 xui-pr-none xui-lg-pr-1" style="height: auto;">
            <div class="xui-p-1-half xui-bg-light-3 xui-bdr-rad-1 xui-h-fluid-100">
                <h1 class="xui-font-sz-200 xui-lg-font-sz-300">Make your booking at your convenience with our <span class="xui-text-blue">user-friendly</span> website.</h1>
                <div class="xui-mt-3 xui-text-right">
                    <a href="#" class="xui-btn xui-btn-blue xui-font-sz-80 xui-bdr-rad-5">Contact Me 👋</a>
                </div>
            </div>
        </div>
        <div class="xui-col-12 xui-lg-col-6 xui-mt-1 xui-lg-mt-none">
            <div class="xui-d-grid xui-grid-col-1 xui-lg-grid-col-2 xui-grid-gap-1">
                <div>
                    <img src="assets/images/about.jpg" class="xui-w-fluid-100 xui-bdr-rad-1 xui-h-fluid-100" alt="about-me">
                </div>
                <div class="">
                    <div class="xui-bg-blue xui-text-white xui-p-1-half xui-bdr-rad-1 xui-w-fluid-100">
                        <div class="xui-d-flex xui-flex-ai-center xui-flex-jc-space-between">
                            <span class="xui-opacity-5 xui-font-sz-75">My Name</span>
                            <span class="xui-font-w-bold xui-opacity-8 xui-font-sz-90">Joshua Nyone</span>
                        </div>
                    </div>
                    <div class="xui-bg-blue xui-text-white xui-p-1-half xui-pb-none xui-bdr-rad-1 xui-w-fluid-100 xui-mt-1 xui-overflow-hidden">
                        <div class="xui-d-flex xui-flex-ai-center xui-flex-jc-space-between xui-mb-4">
                            <span class="xui-opacity-5 xui-font-sz-75">Based In</span>
                            <span class="xui-font-w-bold xui-opacity-8 xui-font-sz-90">UAE, Dubai</span>
                        </div>
                        <img src="assets/images/blueprint-drawing-landmark-dubai-skyline-celestial-images.png" alt="dubai-landmark" class="xui-w-fluid-100 xui-mb--half">
                    </div>
                    <div class="xui-bg-blue xui-text-white xui-p-1-half xui-bdr-rad-1 xui-w-fluid-100 xui-mt-1">
                        <div class="xui-d-flex xui-flex-ai-center xui-flex-jc-space-between">
                            <span class="xui-opacity-5 xui-font-sz-75">Current Project</span>
                            <span class="xui-font-w-bold xui-opacity-8 xui-font-sz-90">onlinebooking</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="xui-mt-1 xui-bg-light-blue xui-p-1-half xui-bdr-rad-1">
        <div class="xui-d-flex xui-flex-ai-center xui-flex-jc-space-between">
            <span class="xui-font-w-bold xui-font-sz-100">About Me</span>
            <span class="xui-font-sz-90">Resume</span>
        </div>
        <div class="xui-lg-w-fluid-85 xui-opacity-6">
            <p class="xui-my-3 xui-font-sz-120 xui-line-height-2">I'm a Software Engineer and IT consultant with Xnyder Group. We create websites, develop softwares and also do consultancy for our clients. Currently a student at  Middlesex University</p>
            <p class="xui-my-3 xui-font-sz-120 xui-line-height-2">Versatile Software Engineer conversant in
                all aspects of business operation and development. Eager to grow alongside companies' IT needs and
                technical arsenals. Committed to maintaining maximum uptimes, optimal operational efficiencies, and practical
                technical expertise.</p>
        </div>
    </div>
</section>
<custom-footer></custom-footer>