<custom-navbar></custom-navbar>
<section class="xui-container xui-py-3">
    <div class="xui-row">
        <div class="xui-col-12 xui-lg-col-6 xui-pr-none xui-lg-pr-2">
            <div class="xui-p-1-half xui-bg-light-2 xui-bdr-rad-1">
                <h1 class="xui-font-sz-200 xui-lg-font-sz-250">Bringing your ideas to life with <span class="xui-text-blue">user-friendly</span> websites.</h1>
            </div>
        </div>
        <div class="xui-col-12 xui-lg-col-6">
            <div class="xui-d-grid xui-grid-col-1 xui-lg-grid-col-2 xui-grid-gap-1">
                <div>
                    <img src="assets/images/about.jpg" class="xui-w-fluid-100 xui-bdr-rad-1" alt="about-me">
                </div>
                <div></div>
            </div>
        </div>
    </div>
</section>
<custom-footer></custom-footer>