<custom-navbar></custom-navbar>
<section class="xui-bg-blue xui-bg-sz-cover xui-bg-pos-center" style="background-image: url('https://images.unsplash.com/photo-1621503234646-417b8af30619?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');">
    <div class="xui-overlay xui-container xui-py-2 xui-lg-py-4">
        <div class="xui-d-grid xui-grid-col-1 xui-lg-grid-col-2">
            <div class="xui-px-1 xui-lg-px-2 xui-py-1 xui-lg-py-1-half xui-bg-white xui-text-black">
                <h2 class="xui-text-uppercase xui-font-w-normal xui-text-center">Contact me</h2>
                <form class="xui-form" layout="2" action="#">
                    <div class="xui-form-box">
                        <input type="text" name="fullname" id="fullname" placeholder="Enter your full name">
                    </div>
                    <div class="xui-form-box">
                        <input type="email" name="email" id="email" placeholder="Enter your email">
                    </div>
                    <div class="xui-form-box">
                        <input type="phone" name="phone" id="phone" placeholder="Enter your phone number">
                    </div>
                    <div class="xui-form-box">
                        <input type="text" name="address" id="adress" placeholder="Home address">
                    </div>
                    <div class="xui-form-box">
                        <input type="text-area" name="message" id="message" placeholder="How can we help you">
                    </div>
                    <div class="xui-form-box">
                        <button class="xui-btn-block xui-btn-blue" type="submit">SUBMIT</button>
                    </div>
                </form>
            </div>
            <div class="xui-px-1 xui-lg-px-2 xui-py-1 xui-lg-py-1-half xui-bg-blue xui-text-white xui-mt-2 xui-lg-mt-none">
                <h2 class="xui-text-uppercase xui-font-w-normal">Contact info</h2>
                <p class="xui-opacity-7 xui-font-sz-95 xui-line-height-2 xui-w-fluid-80">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, aperiam. Non voluptatum aut corporis molestiae autem dignissimos ut iure minus!</p>
                <div class="xui-mt-3">
                    <div class="xui-d-flex xui-my-2">
                        <div class="xui-w-40">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30"><path d="M20 20.0001C20 20.5524 19.5523 21.0001 19 21.0001H5C4.44772 21.0001 4 20.5524 4 20.0001V11.0001L1 11.0001L11.3273 1.61162C11.7087 1.26488 12.2913 1.26488 12.6727 1.61162L23 11.0001L20 11.0001V20.0001Z" fill="currentColor"></path></svg>
                        </div>
                        <div class="xui-pl-half" style="width: calc(100% - 40px);">
                            <h3 class="xui-font-sz-120">Office</h3>
                            <p class="xui-mt-half xui-opacity-5 xui-font-sz-85 xui-line-height-1-half">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eveniet esse quasi quis architecto odit ipsum est neque labore.</p>
                        </div>
                    </div>
                    <div class="xui-d-flex xui-my-2">
                        <div class="xui-w-40">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30"><path d="M12 2C17.52 2 22 6.48 22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12C2 6.48 6.48 2 12 2ZM15.5355 7.05025L10.5858 12L12 13.4142L16.9497 8.46447L15.5355 7.05025Z" fill="currentColor"></path></svg>
                        </div>
                        <div class="xui-pl-half" style="width: calc(100% - 40px);">
                            <h3 class="xui-font-sz-120">Visiting Hours</h3>
                            <p class="xui-mt-half xui-opacity-5 xui-font-sz-85 xui-line-height-1-half">8AM - 5PM</p>
                        </div>
                    </div>
                    <div class="xui-d-flex xui-my-2">
                        <div class="xui-w-40">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30"><path d="M3 3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3ZM12.0606 11.6829L5.64722 6.2377L4.35278 7.7623L12.0731 14.3171L19.6544 7.75616L18.3456 6.24384L12.0606 11.6829Z" fill="currentColor"></path></svg>
                        </div>
                        <div class="xui-pl-half" style="width: calc(100% - 40px);">
                            <h3 class="xui-font-sz-120">Mail</h3>
                            <p class="xui-mt-half xui-opacity-5 xui-font-sz-85 xui-line-height-1-half">info@onlinebooking.com</p>
                        </div>
                    </div>
                    <div class="xui-d-flex xui-my-2">
                        <div class="xui-w-40">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30"><path d="M21 16.42V19.9561C21 20.4811 20.5941 20.9167 20.0705 20.9537C19.6331 20.9846 19.2763 21 19 21C10.1634 21 3 13.8366 3 5C3 4.72371 3.01545 4.36687 3.04635 3.9295C3.08337 3.40588 3.51894 3 4.04386 3H7.5801C7.83678 3 8.05176 3.19442 8.07753 3.4498C8.10067 3.67907 8.12218 3.86314 8.14207 4.00202C8.34435 5.41472 8.75753 6.75936 9.3487 8.00303C9.44359 8.20265 9.38171 8.44159 9.20185 8.57006L7.04355 10.1118C8.35752 13.1811 10.8189 15.6425 13.8882 16.9565L15.4271 14.8019C15.5572 14.6199 15.799 14.5573 16.001 14.6532C17.2446 15.2439 18.5891 15.6566 20.0016 15.8584C20.1396 15.8782 20.3225 15.8995 20.5502 15.9225C20.8056 15.9483 21 16.1633 21 16.42Z" fill="currentColor"></path></svg>
                        </div>
                        <div class="xui-pl-half" style="width: calc(100% - 40px);">
                            <h3 class="xui-font-sz-120">Phone Number</h3>
                            <p class="xui-mt-half xui-opacity-5 xui-font-sz-85 xui-line-height-1-half">+234801234567</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<custom-footer></custom-footer>