<section class="ob-form-full-height xui-d-flex xui-flex-ai-center xui-flex-jc-center">
    <div class="xui-max-w-500 xui-w-fluid-100 xui-box-shadow-2 xui-py-1-half xui-px-1">
        <h2 class="xui-font-sz-175 xui-font-w-normal">Welcome back user :)</h2>
        <form class="xui-form" action="#">
            <div class="xui-form-box">
                <label for="email">Email Address</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="xui-form-box">
                <label for="email">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="xui-form-box">
                <button class="xui-btn-block xui-btn-black" type="submit">Click to proceed</button>
            </div>
        </form>
    </div>
</section>