<custom-navbar></custom-navbar>
<section class="xui-bg-pos-center xui-bg-sz-cover" style="background-image: url('https://images.unsplash.com/photo-1481207727306-1a9f151fca7d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjR8fHRlY2glMjBkZXZpY2VzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');">
    <div class="xui-overlay-2">
        <div class="ob-header xui-lg-py-5 xui-container">
            <h2 class="xui-font-sz-200 xui-lg-font-sz-400 xui-lg-w-fluid-60">Shopping and department store.</h2>
            <p class="xui-opacity-8 xui-lg-w-fluid-50 xui-font-sz-110 xui-line-height-2">Shopping is a bit of a relaxing hobby for me, which is sometimes troubling for the bank balance.</p>
            <a href="#" class="xui-btn xui-btn-white xui-font-sz-100 xui-mt-3 xui-bdr-rad-5">Start booking</a>
        </div>
    </div>
</section>
<section class="xui-container xui-lg-py-4">
    <div class="xui-d-inline-flex xui-flex-ai-flex-end">
        <span class="xui-font-sz-150 xui-lg-font-sz-250">Explore</span>
        <span class="xui-opacity-5 xui-font-sz-85 xui-mb-half xui-ml-1">5,500 items</span>
    </div>
</section>
<custom-footer></custom-footer>