<section class="xui-modal" xui-modal="filterCategoryModal">
    <div class="xui-modal-content xui-bdr-rad-half">
      <div>
            <form name="filterForm" novalidate>
              <div class="xui-my-2">
                <label class="xui-form-label">Filter by category</label>
                <select class="xui-form-select xui-bg-white" ng-model="selectCategory" ng-options="category.name for category in categories"></select>
              </div>

              <button ng-click="filterCategory(selectCategory);" xui-modal-close="filterModal"  class="xui-btn xui-text-white xui-m-1" style="background: var(--black);">Search</button>
              <button class="xui-btn xui-m-1" style="border: 1px solid lightgray;" xui-modal-close="filterCategoryModal">Cancel</button>
      
            </form>
          
      </div>
        
    </div>
    
</section>

<custom-navbar></custom-navbar>
<section class="xui-bg-pos-center xui-bg-sz-cover" style="background-image: url('https://images.unsplash.com/photo-1481207727306-1a9f151fca7d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjR8fHRlY2glMjBkZXZpY2VzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');">
    <div class="xui-overlay-2">
        <div class="ob-header xui-lg-py-5 xui-container">
            <h2 class="xui-font-sz-200 xui-lg-font-sz-400 xui-lg-w-fluid-60">Shopping and department store.</h2>
            <p class="xui-opacity-8 xui-lg-w-fluid-50 xui-font-sz-110 xui-line-height-2">Shopping is a bit of a relaxing hobby for me, which is sometimes troubling for the bank balance.</p>
            <a href="#" class="xui-btn xui-btn-white xui-font-sz-100 xui-mt-3 xui-bdr-rad-5">Start booking</a>
        </div>
    </div>
</section>
<section class="xui-container xui-lg-py-4">
    <div class="xui-d-flex xui-flex-jc-space-between">
        <div class="xui-d-inline-flex xui-flex-ai-flex-end xui-mb-1">
            <span class="xui-font-sz-150 xui-lg-font-sz-250">Explore</span>
            <span class="xui-opacity-5 xui-font-sz-85 xui-mb-half xui-ml-1">{{bookings.length}} items</span>
        </div>
        <div xui-modal-open="filterCategoryModal" class="xui-btn xui-cursor-pointer xui-d-flex xui-flex-ai-center xui-flex-jc-center" style="border: 1px solid lightgray; border-radius: 12px;">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path fill="none" d="M0 0h24v24H0z"/><path d="M6.17 18a3.001 3.001 0 0 1 5.66 0H22v2H11.83a3.001 3.001 0 0 1-5.66 0H2v-2h4.17zm6-7a3.001 3.001 0 0 1 5.66 0H22v2h-4.17a3.001 3.001 0 0 1-5.66 0H2v-2h10.17zm-6-7a3.001 3.001 0 0 1 5.66 0H22v2H11.83a3.001 3.001 0 0 1-5.66 0H2V4h4.17zM9 6a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm6 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-6 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/></svg> -->
            <svg width="15" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.88176 12H11.892V10H7.88176V12ZM0.86377 0V2H18.91V0H0.86377ZM3.87148 7H15.9023V5H3.87148V7Z" fill="#111"/>
          </svg>
        </div>
    </div>
    <div class="xui-d-grid xui-grid-col-1 xui-lg-grid-col-3 xui-grid-gap-1">
        <div class="xui-bg-white xui-box-shadow-3 xui-bdr-rad-1 xui-p-half" ng-repeat="booking in bookings track by $index" ng-if="booking.id == selectCat.id || selectCat == null">
            <div class="xui-bg-sz-cover xui-bg-pos-center xui-w-fluid-100 xui-h-200 xui-bdr-rad-half" xui-bg-img="{{booking.commodity.images[0].url}}">
                <a ng-click="showMP(booking.uid)" class="xui-d-block xui-w-fluid-100 xui-h-fluid-100" href="marketplace-details/{{booking.uid}}"></a>
            </div>
            <div class="xui-py-1 xui-px-half xui-d-grid xui-grid-col-2 xui-grid-gap-1">
                <div>
                    <h3 class="xui-font-sz-95 xui-font-w-bold">Category</h3>
                    <span class="xui-d-inline-block xui-font-sz-80 xui-font-w-bold xui-opacity-5">{{booking.commodity.category.name}}</span>
                </div>
                <div>
                    <h3 class="xui-font-sz-95 xui-font-w-bold">Type</h3>
                    <span class="xui-d-inline-block xui-font-sz-80 xui-font-w-bold xui-opacity-5">{{booking.commodity.type.name}}</span>
                </div>
                <div>
                    <h3 class="xui-font-sz-95 xui-font-w-bold">User</h3>
                    <span class="xui-d-inline-block xui-font-sz-80 xui-font-w-bold xui-opacity-5">{{booking.commodity.user.firstname}} {{booking.commodity.user.lastname}}</span>
                </div>
                <div>
                    <h3 class="xui-font-sz-95 xui-font-w-bold">Date Booked</h3>
                    <span class="xui-d-inline-block xui-font-sz-80 xui-font-w-bold xui-opacity-5">From {{booking.dateFrom | date}} To {{booking.dateTo | date}}</span>
                </div>
                
                <!-- <span class="xui-d-inline-block xui-font-sz-80 xui-font-w-bold xui-opacity-5">{{booking.commodity.category.name}}</span>
                <h2 class="xui-font-sz-100 xui-lg-font-sz-120 xui-w-fluid-80">{{booking.commodity.name}}</h2>
                <h4 class="xui-mt-1-half xui-opacity-8 xui-font-sz-90 xui-font-w-normal">$100 per hour</h4> -->
            </div>
        </div>
    </div>
</section>
<custom-footer></custom-footer>

