<custom-navbar></custom-navbar>

<section>
    <section class="xui-container xui-py-3">
        <h2 class="xui-font-sz-200 xui-font-w-bold">{{bookingsDetails.commodity.name}}</h2>
        <div class="xui-row">
            <div class="xui-col-12 xui-lg-col-8 xui-lg-pr-1">
                <div class="xui-row">
                    <div class="xui-col-12 xui-lg-col-9 xui-lg-pr-1">
                        <div class="xui-w-fluid-100 xui-min-h-300 xui-lg-min-h-400 xui-h-fluid-100  xui-bg-sz-cover xui-bg-pos-center" xui-bg-img="{{bookingsDetails.commodity.images[0].url}}"></div>
                    </div>
                    <div class="xui-col-12 xui-lg-col-3 xui-mt-1 xui-lg-mt-none">
                        <div class="xui-d-grid xui-grid-col-3 xui-lg-grid-col-1 xui-grid-gap-1">
                            <div xui-modal-open="propModal" ng-repeat="image in bookingsDetails.commodity.images" class="xui-w-fluid-100 xui-h-100 xui-lg-h-150  xui-bg-sz-cover xui-bg-pos-center" xui-bg-img="{{image.url}}"></div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="xui-col-12 xui-lg-col-4 xui-lg-pl-1">
                <h2 class="xui-font-w-normal">Details about <span class="xui-font-w-bold">{{bookingsDetails.commodity.name}}</span></h2>
                <div class="xui-bdr-w-1 xui-bdr-fade xui-bdr-s-solid xui-p-1">
                    <div class="xui-py-1 xui-px-half xui-d-grid xui-grid-col-2 xui-grid-gap-1">
                        <div>
                            <h3 class="xui-font-sz-95 xui-font-w-bold">Category</h3>
                            <span class="xui-d-inline-block xui-font-sz-80 xui-font-w-bold xui-opacity-5">{{bookingsDetails.commodity.category.name}}</span>
                        </div>
                        <div>
                            <h3 class="xui-font-sz-95 xui-font-w-bold">Type</h3>
                            <span class="xui-d-inline-block xui-font-sz-80 xui-font-w-bold xui-opacity-5">{{bookingsDetails.commodity.type.name}}</span>
                        </div>
                        <div>
                            <h3 class="xui-font-sz-95 xui-font-w-bold">User</h3>
                            <span class="xui-d-inline-block xui-font-sz-80 xui-font-w-bold xui-opacity-5">{{bookingsDetails.commodity.user.firstname}} {{bookingsDetails.commodity.user.lastname}}</span>
                        </div>
                        <div>
                            <h3 class="xui-font-sz-95 xui-font-w-bold">Date Booked</h3>
                            <span class="xui-d-inline-block xui-font-sz-80 xui-font-w-bold xui-opacity-5">From {{bookingsDetails.dateFrom | date}} To {{bookingsDetails.dateTo | date}}</span>
                        </div>
                        <div>
                            <h3 class="xui-font-sz-95 xui-font-w-bold">Booking Status</h3>
                            <span class="xui-d-inline-block xui-font-sz-80 xui-font-w-bold xui-opacity-5">{{bookingsDetails.status == true ? 'Verified' : 'Not Verified'}}</span>
                        </div>
                        <div>
                            <h3 class="xui-font-sz-95 xui-font-w-bold">Commodity Status</h3>
                            <span class="xui-d-inline-block xui-font-sz-80 xui-font-w-bold xui-opacity-5">{{bookingsDetails.commodity.status == true ? 'Verified' : 'Not Verified'}}</span>
                        </div>
                        
                        <!-- <span class="xui-d-inline-block xui-font-sz-80 xui-font-w-bold xui-opacity-5">{{booking.commodity.category.name}}</span>
                        <h2 class="xui-font-sz-100 xui-lg-font-sz-120 xui-w-fluid-80">{{booking.commodity.name}}</h2>
                        <h4 class="xui-mt-1-half xui-opacity-8 xui-font-sz-90 xui-font-w-normal">$100 per hour</h4> -->
                    </div>
                </div>
            </div>
        </div>

    </section>
</section>

<custom-footer></custom-footer>
