<section class="ob-form-full-info"></section>
<section class="ob-form-full-height xui-container xui-py-3 xui-d-flex xui-flex-ai-center xui-flex-jc-center">
    <div class="xui-max-w-400 xui-w-fluid-100">
        <h2 class="xui-font-sz-175 xui-font-w-normal">Welcome new user :)</h2>
        <form class="xui-form" layout="2" action="#">
            <div class="xui-form-box">
                <input type="email" name="email" id="email" placeholder="Your email address">
            </div>
            <div class="xui-form-box">
                <input type="password" name="password" id="password" placeholder="Enter your password">
            </div>
            <div class="xui-form-box xui-d-flex xui-flex-ai-center">
                <div class="xui-toggle-switch">
                    <input type="checkbox">
                    <div class="slider"></div>
                </div>
                <span class="xui-d-inline-block xui-opacity-5 xui-font-sz-90 xui-ml-half">Remember me</span>
            </div>
            <div class="xui-form-box">
                <button class="xui-btn-block xui-btn-black" type="submit">Click to proceed</button>
            </div>
            <div class="xui-text-center">
                <p class="xui-font-sz-90">Don't have an account? <a href="#">Sign up</a></p>
            </div>
        </form>
    </div>
</section>