<custom-navbar></custom-navbar>
<section class="xui-container xui-py-2 xui-lg-py-3">
    <h1 class="xui-font-sz-200 xui-lg-font-sz-400 xui-w-150 xui-text-capitalize">Our services</h1>
    <p class="xui-lg-font-sz-180 xui-opacity-7 xui-line-height-3 xui-mt-2 xui-lg-w-fluid-70">We don't just create brands, we craft unforgettable experiences that leave a lasting impression.</p>
    <div class="xui-row xui-mt-5 xui-lg-mb-3">
        <div class="xui-col-12 xui-lg-col-6 xui-pr-none xui-lg-pr-1">
            <div class="xui-overflow-hidden ob-service-overview">
                <div class="xui-bg-sz-cover xui-bg-pos-center xui-w-fluid-100 xui-h-300 xui-lg-h-500" style="background-image: url('https://images.unsplash.com/photo-1625334666162-8ad10e7332d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzV8fHVpJTIwZGVzaWdufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');"></div>
            </div>
        </div>
        <div class="xui-col-12 xui-lg-col-6 xui-pl-none xui-lg-pl-1">
            <div class="xui-overflow-hidden ob-service-overview">
                <div class="xui-bg-sz-cover xui-bg-pos-center xui-w-fluid-100 xui-h-300 xui-lg-h-500" style="background-image: url('https://images.unsplash.com/photo-1635939412822-8f3ee593d147?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTV8fHVpJTIwZGVzaWdufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');"></div>
            </div>
        </div>
        <div class="xui-col-12 xui-pt-2">
            <div class="xui-overflow-hidden ob-service-overview">
                <div class="xui-bg-sz-cover xui-bg-pos-center xui-w-fluid-100 xui-h-300 xui-lg-h-500" style="background-image: url('https://images.unsplash.com/photo-1621111848501-8d3634f82336?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8dWklMjBkZXNpZ258ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');"></div>
            </div>
        </div>
        <div class="xui-col-12 xui-lg-col-6 xui-pl-none xui-lg-pl-1"></div>
        <div class="xui-col-12 xui-lg-col-6 xui-pl-none xui-lg-pl-1"></div>
        <div class="xui-col-12 xui-lg-col-6 xui-pl-none xui-lg-pl-1"></div>
    </div>
</section>
<custom-footer></custom-footer>