<custom-navbar></custom-navbar>
<section class="xui-container xui-py-2 xui-lg-py-3">
    <h1 class="xui-font-sz-200 xui-lg-font-sz-400 xui-w-150 xui-text-capitalize">Our services</h1>
    <p class="xui-lg-font-sz-180 xui-opacity-7 xui-line-height-3 xui-mt-2 xui-lg-w-fluid-70">We provide a platform for customers to quickly explore, compare, and schedule available options like car rentals, spa-appointments, gas-filling, hair salons, and tech rentals. We also act as a middleman between the customers and the businesses providing the goods or services.
    </p>
    <div class="xui-row xui-mt-5 xui-lg-mb-3">
        <div class="xui-col-12 xui-lg-col-6 xui-pr-none xui-lg-pr-1">
            <div class="xui-overflow-hidden ob-service-overview xui-pos-relative">
                <div class="xui-bg-sz-cover xui-bg-pos-center xui-w-fluid-100 xui-h-300 xui-lg-h-500" style="background-image: url('https://images.unsplash.com/photo-1625334666162-8ad10e7332d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzV8fHVpJTIwZGVzaWdufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');"></div>
                <a href="#" class="xui-d-inline-flex xui-flex-ai-center xui-flex-jc-center xui-w-75 xui-h-75 xui-bg-white xui-bdr-rad-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30"><path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z" fill="#000"></path></svg>
                </a>
                <p class="xui-bg-white xui-d-inline-block xui-font-sz-100 xui-p-1-half xui-bdr-rad-5">Tech devices rentals</p>
            </div>
        </div>
        <div class="xui-col-12 xui-lg-col-6 xui-pl-none xui-lg-pl-1">
            <div class="xui-overflow-hidden ob-service-overview xui-pos-relative">
                <div class="xui-bg-sz-cover xui-bg-pos-center xui-w-fluid-100 xui-h-300 xui-lg-h-500" style="background-image: url('https://images.unsplash.com/photo-1678991817699-69cdf73bc58c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Z2FzJTIwZmlsbGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');"></div>
                <a href="#" class="xui-d-inline-flex xui-flex-ai-center xui-flex-jc-center xui-w-75 xui-h-75 xui-bg-white xui-bdr-rad-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30"><path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z" fill="#000"></path></svg>
                </a>
                <p class="xui-bg-white xui-d-inline-block xui-font-sz-100 xui-p-1-half xui-bdr-rad-5">Tech devices rentals</p>
            </div>
        </div>
        <div class="xui-col-12 xui-pt-2">
            <div class="xui-overflow-hidden ob-service-overview xui-pos-relative">
                <div class="xui-bg-sz-cover xui-bg-pos-center xui-w-fluid-100 xui-h-300 xui-lg-h-500" style="background-image: url('https://images.unsplash.com/photo-1621111848501-8d3634f82336?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8dWklMjBkZXNpZ258ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');"></div>
                <a href="#" class="xui-d-inline-flex xui-flex-ai-center xui-flex-jc-center xui-w-75 xui-h-75 xui-bg-white xui-bdr-rad-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30"><path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z" fill="#000"></path></svg>
                </a>
                <p class="xui-bg-white xui-d-inline-block xui-font-sz-100 xui-p-1-half xui-bdr-rad-5">Tech devices rentals</p>
            </div>
        </div>
        <div class="xui-col-12 xui-lg-col-6 xui-pl-none xui-lg-pl-1"></div>
        <div class="xui-col-12 xui-lg-col-6 xui-pl-none xui-lg-pl-1"></div>
        <div class="xui-col-12 xui-lg-col-6 xui-pl-none xui-lg-pl-1"></div>
    </div>
</section>
<custom-footer></custom-footer>